.comment
  %b= comment.user.name + ':'
  %p= comment.comment
  = link_to "Editar", edit_post_comment_path(comment.post, comment)
  = link_to "Eliminar", [comment.post, comment], method: :delete, data: { confirm: "¿Estás Seguro?"}
